[submodule "deps/Resource-Han-Rounded"]
	path = deps/Resource-Han-Rounded
	url = https://github.com/CyanoHao/Resource-Han-Rounded.git
[submodule "deps/maple-font"]
	path = deps/maple-font
	url = https://github.com/subframe7536/maple-font.git
[submodule "deps/source-han-serif"]
	path = deps/source-han-serif
	url = https://github.com/adobe-fonts/source-han-serif.git
[submodule "deps/source-han-sans"]
	path = deps/source-han-sans
	url = https://github.com/adobe-fonts/source-han-sans.git
